:root{ 
    --color-green:#31c48d;
    --color-white:#ffff;
    --color-dark-grey: #33333d;
    --color-medium-grey:#424250;
    --color-light-grey:#9ca3ae; 
    
}
* {box-sizing: border-box;
}

html {
    height: 100vh
}

body {
    margin: 0px;
background:var(--color-medium-grey);
color: var(--color-white);
font-family: Roboto, Arial, Helvetica, sans-serif;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
}


/* header */
.header {text-align: center;}

.header__title{ 
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-light-grey);
}

/* controls */
.controls{background:yellow  ;}

/* counter */

.counter { background: var(--color-dark-grey);}

.counter__value{
    width: 100%;
    height: 15rem;
text-align: center;
font-size: 6rem;
font-weight: 900;
background: none;
color: var(--color-white);
border-width: 0px;
border-bottom: 1px solid var(--color-light-grey);}

.counter__actions{display:flex; 
}


.counter__button {
    background: none;
    width:50%;
    border-width: 0;
    color: var(--color-white);
    font-size: 3rem;
    height:10rem;
    border-bottom:1px solid var(--color-light-grey);
    transition: transform 0.1s;
    transform: translateY(0);
}
.counter__button:disabled {
    opacity: 0.2;
}

.counter__button:active {
    background:var(--color-medium-grey);
    transform: translateY(2%)
}


.counter__button_first {
    border-right:1px solid var(--color-light-grey);
}

/* footer */

.footer {
    background: var(--color-dark-grey);
    color: var(--color-light-grey);
    padding: 2rem;  
    font-size: 0.8rem;
    text-align: center;
}

.footer__link {
    color: var(--color-white);
}